## Bank Telemarketing Campaign Case Study.

In this case study you’ll be learning Exploratory Data Analytics with the help of a case study on "Bank marketing campaign". This will enable you to understand why EDA is a most important step in the process of Machine Learning.

#### Problem Statement:

 

The bank provides financial services/products such as savings accounts, current accounts, debit cards, etc. to its customers. In order to increase its overall revenue, the bank conducts various marketing campaigns for its financial products such as credit cards, term deposits, loans, etc. These campaigns are intended for the bank’s existing customers. However, the marketing campaigns need to be cost-efficient so that the bank not only increases their overall revenues but also the total profit. You need to apply your knowledge of EDA on the given dataset to analyse the patterns and provide inferences/solutions for the future marketing campaign.

The bank conducted a telemarketing campaign for one of its financial products ‘Term Deposits’ to help foster long-term relationships with existing customers. The dataset contains information about all the customers who were contacted during a particular year to open term deposit accounts.


**What is the term Deposit?**

Term deposits also called fixed deposits, are the cash investments made for a specific time period ranging from 1 month to 5 years for predetermined fixed interest rates. The fixed interest rates offered for term deposits are higher than the regular interest rates for savings accounts. The customers receive the total amount (investment plus the interest) at the end of the maturity period. Also, the money can only be withdrawn at the end of the maturity period. Withdrawing money before that will result in an added penalty associated, and the customer will not receive any interest returns.

Your target is to do end to end EDA on this bank telemarketing campaign data set to infer knowledge that where bank has to put more effort to improve it's positive response rate.

#### Importing the libraries.

In [3]:
#import the warnings.
import warnings
warnings.filterwarnings('ignore')

In [4]:
#import the useful libraries.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Session- 2, Data Cleaning

### Segment- 2, Data Types

There are multiple types of data types available in the data set. some of them are numerical type and some of categorical type. You are required to get the idea about the data types after reading the data frame. 

Following are the some of the types of variables:
- **Numeric data type**: banking dataset: salary, balance, duration and age.
- **Categorical data type**: banking dataset: education, job, marital, poutcome and month etc.
- **Ordinal data type**: banking dataset: Age group.
- **Time and date type** 
- **Coordinates type of data**: latitude and longitude type.

#### Read in the Data set.

In [5]:
#read the data set of "bank telemarketing campaign" in inp0.
bankdf= pd.read_csv('C:/Users/002YWG744/Documents/Ameya Docs/POC/Python/UG/src/DataToolKit/EDA/Resources/CSV/Bank/bank_marketing_updated_v1.csv') 
bankdf

,banking marketing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,customer id and age.,NaN,Customer salary and balance.,NaN,Customer marital status and job with education...,NaN,particular customer before targeted or not,NaN,Loan types: loans or housing loans,NaN,Contact type,NaN,month of contact,duration of call,NaN,NaN,NaN,outcome of previous contact,response of customer after call happned
1,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
2,1,58,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
3,2,44,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
4,3,33,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45208,45207,51.0,60000,825,married,"technician,tertiary",yes,no,no,no,cellular,17,"nov, 2017",16.2833333333333 min,3,-1,0,unknown,yes
45209,45208,71.0,55000,1729,divorced,"retired,primary",yes,no,no,no,cellular,17,"nov, 2017",7.6 min,2,-1,0,unknown,yes
45210,45209,72.0,55000,5715,married,"retired,secondary",yes,no,no,no,cellular,17,"nov, 2017",18.7833333333333 min,5,184,3,success,yes
45211,45210,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,no,telephone,17,"nov, 2017",8.46666666666667 min,4,-1,0,unknown,no
45212,45211,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,no,cellular,17,"nov, 2017",6.01666666666667 min,2,188,11,other,no

In [6]:
#Print the head of the data frame.
bankdf.head()

,banking marketing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,customer id and age.,NaN,Customer salary and balance.,NaN,Customer marital status and job with education...,NaN,particular customer before targeted or not,NaN,Loan types: loans or housing loans,NaN,Contact type,NaN,month of contact,duration of call,NaN,NaN,NaN,outcome of previous contact,response of customer after call happned
1,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
2,1,58,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
3,2,44,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
4,3,33,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no

### Segment- 3, Fixing the Rows and Columns

Checklist for fixing rows:
- **Delete summary rows**: Total and Subtotal rows
- **Delete incorrect rows**: Header row and footer row
- **Delete extra rows**: Column number, indicators, Blank rows, Page No.

Checklist for fixing columns:
- **Merge columns for creating unique identifiers**, if needed, for example, merge the columns State and City into the column Full address.
- **Split columns to get more data**: Split the Address column to get State and City columns to analyse each separately. 
- **Add column names**: Add column names if missing.
- **Rename columns consistently**: Abbreviations, encoded columns.
- **Delete columns**: Delete unnecessary columns.
- **Align misaligned columns**: The data set may have shifted columns, which you need to align correctly.

#### Read the file without unnecessary headers.

In [7]:
#read the file in inp0 without first two rows as it is of no use.
bankdf= pd.read_csv('C:/Users/002YWG744/Documents/Ameya Docs/POC/Python/UG/src/DataToolKit/EDA/Resources/CSV/Bank/bank_marketing_updated_v1.csv',skiprows=2)

In [8]:
#print the head of the data frame.
bankdf.head()

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

In [9]:
#print the information of variables to check their data types.
bankdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  45211 non-null  int64
 1   age         45191 non-null  float64
 2   salary      45211 non-null  int64
 3   balance     45211 non-null  int64
 4   marital     45211 non-null  object
 5   jobedu      45211 non-null  object
 6   targeted    45211 non-null  object
 7   default     45211 non-null  object
 8   housing     45211 non-null  object
 9   loan        45211 non-null  object
 10  contact     45211 non-null  object
 11  day         45211 non-null  int64
 12  month       45161 non-null  object
 13  duration    45211 non-null  object
 14  campaign    45211 non-null  int64
 15  pdays       45211 non-null  int64
 16  previous    45211 non-null  int64
 17  poutcome    45211 non-null  object
 18  response    45181 non-null  object
dtypes: float64(1), int64(7), object(11)
memory usage: 6.6+ MB

In [10]:
#convert the age variable data type from float to integer.
bankdf['age']=bankdf['age'].fillna(0)
bankdf['age']=bankdf['age'].astype(int)

In [11]:
#print the average age of customers.
bankdf.age.mean()

40.917542191059695

#### Dropping customer id column.

In [12]:
#drop the customer id as it is of no use.
bankdf.drop("customerid",inplace=True,axis=1)

#### Dividing "jobedu" column into job and education categories.

In [13]:
#Extract job in newly created 'job' column from "jobedu" column.
bankdf['job']= bankdf.jobedu.apply(lambda x: x.split(",")[0])

In [14]:
#Extract education in newly created 'education' column from "jobedu" column.
bankdf['education']= bankdf.jobedu.apply(lambda x: x.split(",")[1])

In [15]:
#drop the "jobedu" column from the dataframe.
bankdf.drop('jobedu',inplace=True,axis=1)

In [16]:
bankdf.columns

Index(['age', 'salary', 'balance', 'marital', 'targeted', 'default', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'response', 'job', 'education'],
      dtype='object')

### Segment- 4, Impute/Remove missing values

Take aways from the lecture on missing values:

- **Set values as missing values**: Identify values that indicate missing data, for example, treat blank strings, "NA", "XX", "999", etc., as missing.
- **Adding is good, exaggerating is bad**: You should try to get information from reliable external sources as much as possible, but if you can’t, then it is better to retain missing values rather than exaggerating the existing rows/columns.
- **Delete rows and columns**: Rows can be deleted if the number of missing values is insignificant, as this would not impact the overall analysis results. Columns can be removed if the missing values are quite significant in number.
- **Fill partial missing values using business judgement**: Such values include missing time zone, century, etc. These values can be identified easily.

Types of missing values:
- **MCAR**: It stands for Missing completely at random (the reason behind the missing value is not dependent on any other feature).
- **MAR**: It stands for Missing at random (the reason behind the missing value may be associated with some other features).
- **MNAR**: It stands for Missing not at random (there is a specific reason behind the missing value).

#### handling missing values in age column.

In [17]:
#count the missing values in age column.
bankdf.age.isnull().sum()

0

In [18]:
#pring the shape of dataframe inp0
bankdf.shape

(45211, 19)

In [19]:
#calculate the percentage of missing values in age column.
(bankdf.age.isnull().sum()/bankdf.age.size)*100

0.0

Drop the records with age missing.

In [20]:
#drop the records with age missing in inp0 and copy in inp1 dataframe.
bankdfcopy= bankdf[~bankdf.age.isnull()]

#### handling missing values in month column

In [21]:
#count the missing values in month column in inp1.
bankdfcopy.month.isnull().sum()

50

In [22]:
#print the percentage of each month in the data frame inp1.
bankdfcopy.month.value_counts(normalize=True)

may, 2017    0.304400
jul, 2017    0.152521
aug, 2017    0.138172
jun, 2017    0.118133
nov, 2017    0.087863
apr, 2017    0.064901
feb, 2017    0.058590
jan, 2017    0.031044
oct, 2017    0.016342
sep, 2017    0.012754
mar, 2017    0.010540
dec, 2017    0.004739
Name: month, dtype: float64

In [23]:
#find the mode of month in inp1
month_mode= bankdfcopy.month.mode()[0]
month_mode

'may, 2017'

In [24]:
# fill the missing values with mode value of month in inp1.
bankdfcopy.month.fillna(month_mode,inplace=True)

In [25]:
#let's see the null values in the month column.
bankdfcopy.month.value_counts(normalize=True)
bankdfcopy.month.isnull().sum()

0

#### handling missing values in response column

In [26]:
#count the missing values in response column in inp1.
bankdfcopy.response.isnull().sum()

30

In [27]:
#calculate the percentage of missing values in response column. 
(bankdfcopy.response.isnull().sum()/ bankdfcopy.response.count())*100

0.06639959274916447

Target variable is better of not imputed.
- Drop the records with missing values.

In [28]:
#drop the records with response missings in inp1.
bankdfcopy=bankdfcopy[~bankdfcopy.response.isnull()]

In [29]:
#calculate the missing values in each column of data frame: inp1.
bankdfcopy.isnull().sum()

age          0
salary       0
balance      0
marital      0
targeted     0
default      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
response     0
job          0
education    0
dtype: int64

#### handling pdays column.

In [30]:
#describe the pdays column of inp1.
bankdfcopy.pdays.describe()

count    45181.000000
mean        40.198601
std        100.134050
min         -1.000000
25%         -1.000000
50%         -1.000000
75%         -1.000000
max        871.000000
Name: pdays, dtype: float64

-1 indicates the missing values.
Missing value does not always be present as null.
How to handle it:

Objective is:
- you should ignore the missing values in the calculations
- simply make it missing - replace -1 with NaN.
- all summary statistics- mean, median etc. we will ignore the missing values of pdays.

In [31]:
#describe the pdays column with considering the -1 values.
bankdfcopy.pdays[bankdfcopy.pdays<0]=np.nan 
bankdfcopy.pdays

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
45206      NaN
45207      NaN
45208    184.0
45209      NaN
45210    188.0
Name: pdays, Length: 45181, dtype: float64

### Segment- 5, Handling Outliers

Major approaches to the treat outliers:
 		
- **Imputation**
- **Deletion of outliers**
- **Binning of values**
- **Cap the outlier**

#### Age variable

In [ ]:
#describe the age variable in inp1.

In [ ]:
#plot the histogram of age variable.

In [ ]:
#plot the boxplot of age variable.

#### Salary variable

In [ ]:
#describe the salary variable of inp1.

In [ ]:
#plot the boxplot of salary variable.

#### Balance variable

In [ ]:
#describe the balance variable of inp1.

In [ ]:
#plot the boxplot of balance variable.

In [ ]:
#plot the boxplot of balance variable after scaling in 8:2.

In [ ]:
#print the quantile (0.5, 0.7, 0.9, 0.95 and 0.99) of balance variable

### Segment- 6, Standardising values

Checklist for data standardization exercises:
- **Standardise units**: Ensure all observations under one variable are expressed in a common and consistent unit, e.g., convert lbs to kg, miles/hr to km/hr, etc.
- **Scale values if required**: Make sure all the observations under one variable have a common scale.
- **Standardise precision** for better presentation of data, e.g., change 4.5312341 kg to 4.53 kg.
- **Remove extra characters** such as common prefixes/suffixes, leading/trailing/multiple spaces, etc. These are irrelevant to analysis.
- **Standardise case**: String variables may take various casing styles, e.g., UPPERCASE, lowercase, Title Case, Sentence case, etc.
- **Standardise format**: It is important to standardise the format of other elements such as date, name, etce.g., change 23/10/16 to 2016/10/23, “Modi, Narendra” to “Narendra Modi", etc.

#### Duration variable

In [ ]:
#describe the duration variable of inp1

In [ ]:
#convert the duration variable into single unit i.e. minutes. and remove the sec or min prefix.

In [ ]:
#describe the duration variable

## Session- 3, Univariate Analysis

### Segment- 2, Categorical unordered univariate analysis

Unordered data do not have the notion of high-low, more-less etc. Example:
- Type of loan taken by a person = home, personal, auto etc.
- Organisation of a person = Sales, marketing, HR etc.
- Job category of persone.
- Marital status of any one.

#### Marital status

In [ ]:
#calculate the percentage of each marital status category.

In [ ]:
#plot the bar graph of percentage marital status categories

#### Job

In [ ]:
#calculate the percentage of each job status category.

In [ ]:
#plot the bar graph of percentage job categories

### Segment- 3, Categorical ordered univariate analysis

Ordered variables have some kind of ordering. Some examples of bank marketing dataset are:
- Age group= <30, 30-40, 40-50 and so on.
- Month = Jan-Feb-Mar etc.
- Education = primary, secondary and so on.

#### Education

In [ ]:
#calculate the percentage of each education category.

In [ ]:
#plot the pie chart of education categories

#### poutcome

In [ ]:
#calculate the percentage of each poutcome category.

#### Response the target variable

In [ ]:
#calculate the percentage of each response category.

In [ ]:
#plot the pie chart of response categories

## Session- 4, Bivariate and Multivariate Analysis

### Segment-2, Numeric- numeric analysis

There are three ways to analyse the numeric- numeric data types simultaneously.
- **Scatter plot**: describes the pattern that how one variable is varying with other variable.
- **Correlation matrix**: to describe the linearity of two numeric variables.
- **Pair plot**: group of scatter plots of all numeric variables in the data frame.

In [ ]:
#plot the scatter plot of balance and salary variable in inp1

In [ ]:
#plot the scatter plot of balance and age variable in inp1

In [ ]:
#plot the pair plot of salary, balance and age in inp1 dataframe.

#### Correlation heat map

In [ ]:
#plot the correlation matrix of salary, balance and age in inp1 dataframe.

### Segment- 4, Numerical categorical variable

#### Salary vs response

In [ ]:
#groupby the response to find the mean of the salary with response no & yes seperatly.

In [ ]:
#groupby the response to find the median of the salary with response no & yes seperatly.

In [ ]:
#plot the box plot of salary for yes & no responses.

#### Balance vs response

In [ ]:
#plot the box plot of balance for yes & no responses.

In [ ]:
#groupby the response to find the mean of the balance with response no & yes seperatly.

In [ ]:
#groupby the response to find the median of the balance with response no & yes seperatly.

##### 75th percentile

In [ ]:
#function to find the 75th percentile.
def p75(x):
    return np.quantile(x, 0.75)

In [ ]:
#calculate the mean, median and 75th percentile of balance with response

In [ ]:
#plot the bar graph of balance's mean an median with response.

#### Education vs salary

In [ ]:
#groupby the education to find the mean of the salary education category.

In [ ]:
#groupby the education to find the median of the salary for each education category.

#### Job vs salary

In [ ]:
#groupby the job to find the mean of the salary for each job category.

### Segment- 5, Categorical categorical variable

In [ ]:
#create response_flag of numerical data type where response "yes"= 1, "no"= 0

#### Education vs response rate

In [ ]:
#calculate the mean of response_flag with different education categories.

#### Marital vs response rate

In [ ]:
#calculate the mean of response_flag with different marital status categories.

In [ ]:
#plot the bar graph of marital status with average value of response_flag

#### Loans vs response rate

In [ ]:
#plot the bar graph of personal loan status with average value of response_flag

#### Housing loans vs response rate

In [ ]:
#plot the bar graph of housing loan status with average value of response_flag

#### Age vs response

In [ ]:
#plot the boxplot of age with response_flag

##### making buckets from age columns

In [ ]:
#create the buckets of <30, 30-40, 40-50 50-60 and 60+ from age column.

In [ ]:
#plot the percentage of each buckets and average values of response_flag in each buckets. plot in subplots.

In [ ]:
#plot the bar graph of job categories with response_flag mean value.

### Segment-6, Multivariate analysis

#### Education vs marital vs response

In [ ]:
#create heat map of education vs marital vs response_flag

#### Job vs marital vs response

In [ ]:
#create the heat map of Job vs marital vs response_flag.

#### Education vs poutcome vs response

In [ ]:
#create the heat map of education vs poutcome vs response_flag.